<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <!--<security:http auto-config="true">-->
        <!--<security:form-login login-page="/pages/login.jsp"-->
                             <!--login-processing-url="/login.do"-->
                             <!--username-parameter="username"-->
                             <!--password-parameter="password"-->
                             <!--authentication-failure-url="/pages/login_failure.jsp"-->
                             <!--default-target-url="/index"-->
                             <!--authentication-success-handler-ref="authSuccess"-->
        <!--/>-->
        <!--&lt;!&ndash; 表示匿名用户可以访问  登录页与登录失败页不需要登录&ndash;&gt;-->
        <!--<security:intercept-url pattern="/pages/login*.jsp" access="hasRole('ROLE_ANONYMOUS')"/>-->

        <!--<security:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>-->
    <!--</security:http>-->
    <!---->

    <!--&lt;!&ndash; 认证成功后的处理类 &ndash;&gt;-->
    <!--<bean id="authSuccess" class="com.yws.security.handler.AuthenticationSuccessHandlerImpl"/>-->


    <!--&lt;!&ndash; 表示匿名用户可以访问 &ndash;&gt;-->
    <!--&lt;!&ndash;<security:http security="none" pattern="/login.html" />&ndash;&gt;-->



    <!--&lt;!&ndash;-->
    <!--1. auto-config=”true” 时,Spring Security 有默认登陆页-->
    <!--2. intercept-url 定义了一个权限控制的规则。pattern 属性表示我们将对哪些 url 进行权限控制，-->
    <!--其也可以是一个正则表达式，如上的写法表示我们将对所有的 URL 进行权限控制；-->
    <!--access 属性表示在请求对应的 URL 时需要什么权限，默认配置时它应该是一个以逗号分隔的角色列表-->
    <!--，请求的用户只需拥有其中的一个角色就能成功访问对应的 URL。-->
    <!--这里的 “ROLE_USER” 表示请求的用户应当具有 ROLEUSER 角色 &ndash;&gt;-->

    <!--<security:authentication-manager>-->
        <!--<security:authentication-provider>-->
            <!--<security:user-service>-->
                <!--<security:user name="user" password="user" authorities="ROLE_USER"/>-->
                <!--<security:user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN"/>-->
            <!--</security:user-service>-->
        <!--</security:authentication-provider>-->
    <!--</security:authentication-manager>-->
    <!--&lt;!&ndash;authentication-manager 元素指定了一个 AuthenticationManager，-->
    <!--其需要一个 AuthenticationProvider（对应 authentication-provider 元素）来进行真正的认证，-->
    <!--默认情况下 authentication-provider 对应一个 DaoAuthenticationProvider，-->
    <!--其需要 UserDetailsService（对应 user-service 元素）来获取用户信息 UserDetails（对应 user 元素）&ndash;&gt;-->


    <http pattern="/login*" security="none" />
    <!--<http pattern="/login.do" security="none" />-->
    <http access-decision-manager-ref="accessDecisionManager">
        <csrf disabled="true"/>
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
        <access-denied-handler ref="accessDeniedHandler" />
        <form-login login-page="/login"
        username-parameter="username"
        password-parameter="password"
        login-processing-url="/formLogin"
        default-target-url="/index"
                    always-use-default-target="true"
        authentication-failure-url="/loginError"
        />
        <session-management>
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="false"/>
        </session-management>

        <logout logout-url="/logout" success-handler-ref="logoutHandler"/>
        <!--<logout logout-url="/logout" logout-success-url="/login" invalidate-session="true"/>-->

    </http>

    <!-- 登出处理 -->
    <beans:bean id="logoutHandler" class="com.yws.security.handler.CustomLogoutSuccessHandler" />

    <!-- 自定义权限不足处理程序 -->
    <beans:bean id="accessDeniedHandler" class="com.yws.security.handler.RequestAccessDeniedHandler">
        <beans:property name="errorPage" value="/WEB-INF/pages/error/403.html" />
    </beans:bean>

    <!-- 认证管理器,确定用户,角色及相应的权限 -->
    <beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
        <!-- 投票器 -->
        <beans:constructor-arg>
            <beans:list>
                <!--<beans:bean class="com.hand.hap.security.CustomWebExpressionVoter"/>-->
                <beans:bean class="org.springframework.security.web.access.expression.WebExpressionVoter"/>
                <beans:bean class="org.springframework.security.access.vote.RoleVoter"/>
                <beans:bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
                <beans:bean class="com.yws.securityVoter.PermissionVoter"/>
            </beans:list>
        </beans:constructor-arg>
    </beans:bean>

</beans:beans>